*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(187, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    list-style-type: none;
}

.container{
    padding: 1rem;
}

hr{
    height: 1px;
    background-color: black;
    border: none;
}

.hr{
    display: none;
}

.blog{
    padding: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
}

.blog>h1{
    font-size: 90px;
    font-weight: 100;
}
.blog>p{
    width: 180px;
}

.blog2{
    display: flex;
}
.blog2>img{
    margin-left: 1.8rem;
    float: right;
}

.blog3{
    margin-top: 10rem;

}

.blog3>p{
    padding: .2rem 0 .2rem 0;
}

.blog3>h2{
    font-size: 70px;
    width: 400px;
    margin-bottom: 1rem;
    font-weight: 100;
}

.pi{
    width: 270px;
    padding-bottom: 10px;
}

a{
    color: black;
    margin: 0;
}

a:hover{
    color: white;
    background-color: black;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.footer>h2{
    font-size: 50px;
    top: 2000px;
    font-weight: 50;
}


@media  screen and (max-width:400px) {
    
    .container{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    hr{
        width: 95%;
    }

    .hr{
        display: block;
    }

    ul{
        padding: 1rem 2rem 1rem 1rem;
    }

    .blog>h1{
        font-size: 80px;
    }
    .blog>p{
        margin: .5rem .5rem 1rem .2rem;
    }
    .blog{
        flex-direction: column;
    }
    .blog2{
        flex-direction: column;

    }

    .blog3{
        margin-top: 5rem;
    }

    img{
        margin-top: 2rem;
       width: 350px;
       height: 400px;
    }

    .blog2>img{
        margin-left: 0;
        float: none;
    }

    .footer{
        flex-direction: column;
        margin-top: 3rem;
    }
    .footer>p{
        margin-bottom: .6rem;
    }
}
 